@model Delievery_Dashboard.ViewModel.TextBoxViewModel;

@{
    var properties = ViewData.ModelMetadata.Properties;
}

@foreach (var property in properties)
{
     <div class="form-group d-flex flex-column w-100 me-4"> 
        <label for="@property.PropertyName" class="form-label col-sm-2 control-label top-7 w-100 text-left">@property.GetDisplayName()</label>

        @{
            var propertyValue = Model.GetType().GetProperty(property.PropertyName).GetValue(Model, null);
            var propertyName = property.PropertyName;
            var errorContainerId = "error_" + propertyName;
        }

        <input class="form-control mt-2 mb-2 h2-7 p-2" id="@propertyName" name="@propertyName" type="text" value="0">
        <span class="text-danger field-validation-valid" data-valmsg-for="@propertyName" data-valmsg-replace="true"></span>
        <div id="@errorContainerId"></div>
     </div> 
}