@using Delievery_Dashboard.ViewModel;
@model CombinedViewModel;

<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">UID</th>
                <th scope="col">TaskID</th>
                <th scope="col">TaskDescription</th>
                <th scope="col">Classification</th>
                <th scope="col">Complexity</th>
                <th scope="col">Resource</th>
                <th scope="col">Asset</th>
                <th scope="col">PracticeHead</th>
                <th scope="col">AccountManager</th>
                <th scope="col">DeliveryManager</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>@ViewBag.UID</td>
                <td>@ViewBag.TaskID</td>
                <td>@ViewBag.TaskDescription</td>
                <td>@ViewBag.Classification</td>
                <td>@ViewBag.Complexity</td>
                <td>@ViewBag.Resource</td>
                <td>@ViewBag.Asset</td>
                <td>@ViewBag.PracticeHead</td>
                <td>@ViewBag.AccountManager</td>
                <td>@ViewBag.DeliveryManager</td>
                <td>@ViewBag.Role</td>
            </tr>
        </tbody>
    </table>
</div>

<p> @ViewBag.a </p>